# lectura de archivos

In [3]:
import pandas as pd
import numpy as np
df=pd.read_excel("data\mu_enoe.xlsx")

<>:3: SyntaxWarning: invalid escape sequence '\m'
<>:3: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Andrea\AppData\Local\Temp\ipykernel_13304\2563249718.py:3: SyntaxWarning: invalid escape sequence '\m'
  df=pd.read_excel("data\mu_enoe.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [4]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [5]:
df=pd.read_excel("data/mu_enoe.xlsx")

In [6]:
df

,estado,sex,edad,asiste,pos_ocu,ing_salarios,niv_edu,anios_esc,hrsocup,ingreso_mensual,num_trabajos,tipo_empleo
0,Hidalgo,Mujer,56,No,Trabajadores subordinados y remunerados,Más de 1 hasta 2 salarios mínimos,Secundaria completa,12,45,5375,Uno,Informal
1,Durango,Hombre,52,No,Trabajadores subordinados y remunerados,Más de 3 hasta 5 salarios mínimos,Medio superior y superior,17,66,12900,Uno,Formal
2,Jalisco,Hombre,25,No,Trabajadores subordinados y remunerados,Más de 3 hasta 5 salarios mínimos,Medio superior y superior,15,48,12000,Uno,Formal
3,Tabasco,Mujer,50,No,Trabajadores subordinados y remunerados,Más de 1 hasta 2 salarios mínimos,Secundaria completa,9,46,3870,Uno,Informal
4,Tabasco,Mujer,41,No,Trabajadores por cuenta propia,Hasta un salario mínimo,Medio superior y superior,17,5,1000,Uno,Informal
...,...,...,...,...,...,...,...,...,...,...,...,...
10275,Sinaloa,Hombre,62,No,Empleadores,Más de 2 hasta 3 salarios mínimos,Medio superior y superior,17,48,7740,Uno,Informal
10276,Veracruz de Ignacio de la Llave,Hombre,50,No,Trabajadores subordinados y remunerados,Más de 2 hasta 3 salarios mínimos,Medio superior y superior,16,25,9000,Uno,Formal
10277,Sinaloa,Mujer,21,No,Trabajadores subordinados y remunerados,Más de 2 hasta 3 salarios mínimos,Medio superior y superior,14,42,6450,Uno,Informal
10278,Chihuahua,Hombre,44,No,Trabajadores subordinados y remunerados,Más de 1 hasta 2 salarios mínimos,Secundaria completa,10,40,5590,Uno,Formal
10279,Durango,Hombre,33,No,Trabajadores subordinados y remunerados,Más de 2 hasta 3 salarios mínimos,Medio superior y superior,17,40,8000,Uno,Formal

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10280 entries, 0 to 10279
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   estado           10280 non-null  object
 1   sex              10280 non-null  object
 2   edad             10280 non-null  int64
 3   asiste           10280 non-null  object
 4   pos_ocu          10280 non-null  object
 5   ing_salarios     10280 non-null  object
 6   niv_edu          10280 non-null  object
 7   anios_esc        10280 non-null  int64
 8   hrsocup          10280 non-null  int64
 9   ingreso_mensual  10280 non-null  int64
 10  num_trabajos     10280 non-null  object
 11  tipo_empleo      10280 non-null  object
dtypes: int64(4), object(8)
memory usage: 963.9+ KB

In [8]:
df.describe()

               edad     anios_esc       hrsocup  ingreso_mensual
count  10280.000000  10280.000000  10280.000000     10280.000000
mean      39.736965      9.877821     43.242899      7362.385895
std       14.041565      4.197949     16.731330      5897.307829
min       12.000000      0.000000      1.000000      1000.000000
25%       28.000000      8.000000     35.000000      3870.000000
50%       39.000000      9.000000     45.000000      6000.000000
75%       50.000000     12.000000     51.000000      9000.000000
max       98.000000     22.000000    140.000000     81000.000000

In [9]:
df.corr()

ValueError: could not convert string to float: 'Hidalgo'

In [19]:
df=df[["edad","anios_esc","hrsocup","ingreso_mensual"]]

TypeError: list indices must be integers or slices, not list

In [17]:
df

['edad', 'anios_esc', 'hrsocup', 'ingreso_mensual']

In [12]:
df.corr()

AttributeError: 'list' object has no attribute 'corr'